@media (min-width:992px) {
	html.w-mod-js:not(.w-mod-ix) [data-w-id="dd9441a3-1997-af6b-7f7e-0ae5df339b82"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="f70ff7c1-45db-20b9-bfa2-81154d06c49d"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="c5775b65-6c0a-ff2d-94b3-8eadb482a0de"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="37d29402-8767-6202-cf1c-c9342efc42c5"] {
		-webkit-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="cf10ba6e-791a-821b-5f88-21c6826cc28e"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
}

@media (max-width:991px) and (min-width:768px) {
	html.w-mod-js:not(.w-mod-ix) [data-w-id="dd9441a3-1997-af6b-7f7e-0ae5df339b82"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="f70ff7c1-45db-20b9-bfa2-81154d06c49d"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="c5775b65-6c0a-ff2d-94b3-8eadb482a0de"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="37d29402-8767-6202-cf1c-c9342efc42c5"] {
		-webkit-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="cf10ba6e-791a-821b-5f88-21c6826cc28e"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
}

@media (max-width:767px) and (min-width:480px) {
	html.w-mod-js:not(.w-mod-ix) [data-w-id="dd9441a3-1997-af6b-7f7e-0ae5df339b82"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="f70ff7c1-45db-20b9-bfa2-81154d06c49d"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="c5775b65-6c0a-ff2d-94b3-8eadb482a0de"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="37d29402-8767-6202-cf1c-c9342efc42c5"] {
		-webkit-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(18%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
	html.w-mod-js:not(.w-mod-ix) [data-w-id="cf10ba6e-791a-821b-5f88-21c6826cc28e"] {
		-webkit-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-moz-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		-ms-transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
		transform: translate3d(0%, 0%, 0) scale3d(0.7, 0.7, 1) rotateX(0) rotateY(0) rotateZ(26DEG) skew(0, 0);
	}
}