body {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
header{padding:20px 0px;z-index:99;}
.header-wrap{display:flex;justify-content:space-between;align-items:center;}
.mainmenu .sub-menu{position:relative;}
.mainmenu li a{text-decoration:none;color:#000;font-size:20px;line-height:30px;font-weight:500;padding:5px 15px;display:inline-block;text-transform:capitalize;}
.mainmenu li a:hover{color:#00cd43;}
.mainmenu li.sub-menu:hover >a.child-triggerm span:after{color:#00cd43;transition:0.5s all ease-in-out;}
.mainmenu .sub-menu ul{background:#fff}

/*transparent-header-section*/
#transparent-header{position:absolute;top:0;left:0;width:100%;padding:20px 0px;z-index:9}
#transparent-header .mainmenu li a{text-decoration:none;color:#222222;font-size:14px;font-weight:400;}
#transparent-header .mainmenu .sub-menu ul{background:#000}
#transparent-header .mainmenu li a:hover{color:#2aa4dd;}
.header-logo-wrap.animated.swing{width:180px;height:auto;}
.hero-section {
  padding-right: 10px;
  padding-left: 10px;
  background-image: url('../images/s2.svg');
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-section.overflownone {
  position: relative;
  overflow: hidden;
}

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  padding-top: 100px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1160px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-content {
  width: 50%;
  padding: 45px;
}

.hero-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 35px !important;
  line-height: 50px !important;
}

.hero-h1.large {
  font-size: 3.6em;
}

.hero-p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5em;
  line-height: 150%;
}

.get-direction {
    padding: 5px 10px !important;
    font-size: 12px !important;
    margin-top: 5px;
}

.btn {
  padding: 15px 43px;
  border-radius: 20px;
  background-color: #2aa4dd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.btn:hover {
  background-color: #196a90;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.btn.small {
  padding: 12px 24px;
  background-color: #196a90;
  font-size: 14px;
}

.btn.small:hover {
  background-color: #2aa4dd;
}

.btn.large {
  padding: 28px 90px;
}

.btn.ghost {
  padding: 7px 26px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  font-size: 14px;
}

.nav-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  background-color: transparent;
}

.container-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 45px;
  padding-left: 45px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-img {
  height: 60px;
}

.logo-img.top {
  width: 180px;
  height: auto;
}

.logo-img.tiny {
  height: 35px;
}

.logo-img.big {
  height: 80px;
}

.nav-link:hover {
  text-decoration: underline;
}

.img-hero.large {
  width: 100%;
  max-width: 150%;
}
 .padding{
  padding: 0px !important;
}
.section {
  padding: 50px 10px;
}

.section.lightblue {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ebf4fc;
}

.section.lightblue.paddingbot {
  padding-bottom: 50px;
  background-color: #ebf4fc;
}

.section.wave {
  margin-top: -1px;
  padding-bottom: 0px;
  background-image: url('../images/wave-4.svg');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.more-button{
    padding-bottom: 0px !important;
}

.w-embed.w-script {
    margin-top: 30px;
}

.section.np {
  padding-top: 0px;
  padding-bottom: 50px;
}

.section.wave2 {
  padding-top: 0px;
  background-color: #ebf4fc;
  background-image: url('../images/wave-7.svg');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section.dark-img {
  background-color: #196a90;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/foundation-jump-back.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/foundation-jump-back.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  color: #fff;
}

.section.dark {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #196a90;
  color: #fff;
  text-align: center;
}

.section.dark.left {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 106, 145, 0.95)), to(rgba(25, 106, 145, 0.95))), url('../images/5.jpg');
  background-image: linear-gradient(180deg, rgba(25, 106, 145, 0.95), rgba(25, 106, 145, 0.95)), url('../images/5.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 50%;
  background-repeat: repeat, repeat;
  background-attachment: scroll, fixed;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper.top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrapper.top.rev.expand {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.wrapper.wrap {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper.toppadding {
  padding-top: 100px;
}

.content {
  padding: 30px;
}

.content._50 {
  width: 50%;
  padding: 45px;
}

.content._50.img-bgshape.padding {
  padding: 39px;
}

.content._50.img-bgshape.padding.norotation {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.content._50.lp {
  padding: 0px;
}

.content._50.v {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content._50.l {
  text-align: left;
}

.content._50.l.img-bgshape.padding45 {
  padding: 45px;
}

.content._50.h-a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bg-shape.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.testimonial-text-wrapper{
  width: 89%;
}
.content._50.np {
  padding: 0px;
}

.content._25 {
  width: 25%;
}

.content._33 {
  width: 33%;
}

.content._50 {
  width: 50%;
  padding: 45px;
}

.content._50.img-bgshape {
  padding: 0px;
}

.content.center {
  text-align: center;
}

.title-content {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #196a90;
  font-size: 24px;
  line-height: 150%;
}

.title-content.w {
  margin-bottom: 10px;
  color: #fff;
}

.title-content.w.margin {
  margin-bottom: 50px;
}

.p20 {
  opacity: 0.8;
  color: #000;
  font-size: 16px;
  line-height: 1.65em;
}

.p20.w {
  margin-bottom: 25px;
  opacity: 0.98;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.p20.white {
  color: #fff;
}

.p20.white.noopac {
  opacity: 1;
}
.dashed-line{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 100px;
}

.line-wrapper {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 100px;
}

.line-wrapper.c {
  padding-left: 30%;
  text-align: left;
}

.img-line {
  width: 50%;
}

.img-line.small {
  width: 30%;
}

.testimonial-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.testimonial-wrapper.nomargin {
    margin-top: 0px;
    padding: 20px;
}

.img-testimonial {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 360px;
  -o-object-fit: cover;
  object-fit: cover;
}

.img-testimonial.top {
  margin-right: 0px;
  margin-bottom: 20px;
}

.testimonial-text {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-style: italic;
}

.testimonial-name {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}

.img-bgshape {
  background-image: url('../images/bg-shape.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-bgshape.padding {
  padding: 92px 92px 92px 0px;
  -webkit-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}

.img-bgshape.margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.wrapper-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-item-wrapper {
  margin: 15px;
  padding: 10px;
}

.footer-title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #196a90;
  font-size: 18px;
  line-height: 22px;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #6c6d6c;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.sm-link {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  padding: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 360px;
  background-color: #2aa4dd;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.sm-link:hover {
  background-color: #196a90;
}

.title-section {
  color: #196a90;
}

.title-section.margin-bot {
  margin-top: 0px;
  margin-bottom: 30px;
}

.h3 {
  margin-top: 0px;
}

.icon-large {
  height: 100px;
}

.icon-small {
  height: 50px;
  margin-bottom: 20px;
}

.pre-title {
  display: inline-block;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #ffffff !important;
  font-weight: 600;
  text-transform: uppercase;
}

.pre-title.margin {
  margin-bottom: 15px;
}

.pre-title.reverse {
  color: #196a90;
}

.astrustedby {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.astrustedby.large {
  font-size: 36px;
  line-height: 40px;
}

.logo-trusted-by {
  width: 150px;
  margin: 10px;
}

.logo-trusted-by.small {
  width: 75px;
}

.link {
  color: #017eb9;
}

.logo-item-wrapper-2 {
  margin: 15px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(108, 109, 108, 0.19);
  background-color: #fff;
  box-shadow: 1px 1px 3px -3px #000;
}

.rotate {
  background-image: url('../images/bg-shape.svg');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-17deg);
  -ms-transform: rotate(-17deg);
  transform: rotate(-17deg);
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.large {
  font-size: 24px;
}

.logo-bb-small {
  width: 250px;
}

.wrapper-page-link {
  margin-right: 15px;
  margin-left: 15px;
  border-style: dashed;
  border-width: 2px;
  border-color: #2aa4dd;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
}

.wrapper-page-link:hover {
  background-color: rgba(42, 164, 221, 0.1);
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.wrapper-page-link.text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #196a90;
  font-size: 2.3em;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: baseline;
}

.icon-list {
  height: 20px;
  margin-right: 10px; 
    width: 20px;
max-width: inherit !important;
}

.img-100 {
  width: 100%;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
  height: 350px;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 4px;
  background-color: #5a61d6;
  cursor: pointer;
}

.portfolio-wrapper.sift {
  background-color: #e56135;
}

.portfolio-wrapper.spectre {
  background-color: #56ffcd;
  color: #282828;
}

.portfolio-wrapper.clockwise {
  background-color: #5fd2e4;
}

.portfolio-wrapper.unicorn {
  background-color: #26baff;
}

.portfolio-wrapper.apres {
  background-color: #fb505d;
}

.portfolio-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 23px;
  line-height: 105%;
  text-align: left;
  color: #000;
}

.img-portfolio {
  position: absolute;
  left: auto;
  top: -100%;
  right: 0%;
  -webkit-transform: scale(0.7) rotate(26deg);
  -ms-transform: scale(0.7) rotate(26deg);
  transform: scale(0.7) rotate(26deg);
}

.overlay-portf {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 106, 145, 0.3)), to(rgba(25, 106, 145, 0.3)));
  background-image: linear-gradient(180deg, rgba(25, 106, 145, 0.3), rgba(25, 106, 145, 0.3));
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.overlay-portf:hover {
  opacity: 1;
}

.lightbox-link {
  width: 100%;
  color: #fff;
  text-decoration: none;
}
.portfolio_main_title{
    font-size:50px !important;
    margin-bottom: 0px !important;
}


/*dot net css*/

.small-text{font-size: 16px;color: #196A90;font-weight: 700;text-transform: uppercase;}
.service-hero p{font-size: 17px;}
.section-bottomPadding{padding-bottom: 50px !important;}
.mb-0{margin-bottom: 0px !important;}
.pt-0{padding-top: 0px !important;}
.pb-0{padding-bottom: 0px !important;}
.pb-10{padding-bottom: 10px !important;}
.pb-40{padding-bottom: 40px !important;}
.highlight-text{padding: 45px;padding-bottom: 15px;}
.highlight-text h4 {font-size: 16px;font-weight: 600;}
.bussiness-detail {align-items: flex-start;}
.bussiness-detail .title-content {margin-bottom: 15px;}
.service-darkContent{padding-bottom: 55px!important;}
.service-darkContent p{font-size: 18px;font-weight: 400;}
.kickstart .content {padding: 45px;}
.text-left{text-align: left;}
.section.dark.bg-image{background-image: url(../images/software-bg.jpg);background-position: 0px 0px, 0px 0px;
	background-size: cover;background-repeat: no-repeat;padding: 30px;}
.bold{font-weight: 600;}
.graph-vector {text-align: center;}
.graph-vector img{width: auto;}
.accordion {
    background-color: #ebf4fc!important;;
    color: #196A90!important;;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px!important;;
    transition: 0.4s!important;;
    font-weight: 700!important;;
    border-bottom: 1px dashed #707070!important;;
    padding-left: 26px!important;;
    position:relative;
}
.active, .accordion:hover {
  background-color: #ebf4fc;; 
}
span.pluse{font-size: 24px;
    padding-right: 11px;
}
.panel {
    padding:15px 18px;
    display: none;
    background-color: #ebf4fc;
    overflow: hidden;
    border-bottom: 1px dashed #707070;
}
a.blue-link {
    color: #2aa4dd;
    text-transform: capitalize;
    font-weight: 700;
}
button.accordion:after {
    content: '+';
    color: #333333;
    font-weight: bold;
    position: absolute;
    left: 0;
    font-size: 24px;
}
button.accordion.active:after {
    content: "\2212";
}
button.accordion:after {
    content: '\002B';
    color: #333333;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}


/*angular css*/

.line-wrapper.r{
    padding-right: 30%;
    text-align: right;
}
.mr-0{margin-right:0px;}
.text-center{text-align: center;}
.quatos {
    font-style: italic;
    display: block;
    font-weight: 600;
        padding-bottom: 3px;
}
.p-0{padding: 0px !important;}
.pt-20{padding-top: 20px;}
.pt-40{padding-top: 40px;}
.title-content {
    line-height: 130%;
}
.m-auto{margin:0px auto;}
.visite-site-btn{
   bottom: 31px;
    position: absolute;
    width: 38%;
    background: #fff;
    right: 41px;
    text-align: right;
}
.py-0{padding-left:0px;padding-right:0px;}


/*machine-learning css*/

/*Gust-podcast-css*/
.podcast-img{width:auto;}
.w-80{width:80% !important;}
.w-40{width:40% !important;}
.flex-wrap{flex-wrap:nowrap;}
.podcast-list{display: flex;align-items: center;border-bottom:1px solid #DCDCDC;}
.podcast-list:last-child{border-bottom:0px;}
.podcast-list .content h4{margin-bottom: 5px;}
.podcast-list .content a h4{color: #333;}
.podcast-list .content p{margin-bottom:5px;font-size: 18px;line-height: 30px;}
.podcast-list .content{width:85%;padding: 10px 20px;}
.podcast-list .content h5{font-weight: 600 !important;margin-top: 5px;}
.podcast-list a{color:#2aa4dd;white-space:nowrap;font-weight: 500;}
.podcast-listing{padding: 10px 30px;}
.mt-10{margin-top: 10px !important;}
.bule-text{color:#2aa4dd;}
.cust-hero-wrapper{min-height: 80vh;padding-top: 40px;}
.cust-hero-section {background-position: 50% 140% !important;}

@media screen and (max-width: 1135px) {
  .testimonial-text-wrapper {
    width: 80%;
}
}

@media screen and (max-width: 991px) {
  .hero-section {
    padding-right: 50px;
    padding-left: 50px;
  }
  .hero-wrapper {
    min-height: auto;
  }
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-content {
    width: 100%;
  }
  .nav-wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
  .nav-link {
    color: #fff;
  }
  .img-hero.large {
    width: 100%;
    max-width: 100%;
  }
  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .section.lightblue {
    padding-right: 50px;
    padding-left: 50px;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wrapper.top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wrapper.rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .wrapper.wrap.white {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content._50 {
    width: 100%;
  }
  .content._50.h-a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content._25 {
    width: 50%;
  }
  .content._33 {
    width: 100%;
  }
  .mb.w--open {
    background-color: #2aa4dd;
  }
  .nav-menu {
    background-color: #2aa4dd;
  }
  .line-wrapper {
    display: none;
  }
  .testimonial-text-wrapper.center {
    text-align: center;
  }
  .portfolio-wrapper {
    height: 650px;
  }
 .cust-hero-wrapper .hero-content {
    padding: 15px;}
    
 .cust-hero-wrapper .blog__banner_content {
    display: flex;
    align-items: center;
}
.cust-hero-wrapper {
    padding-bottom: 72px !important;
}
}


@media screen and (max-width: 767px) {
  .testimonial-text-wrapper {
    width: 100%;
}
  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-content {
    width: 100%;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content._50 {
    width: 100%;
  }
  .content._33 {
    width: 100%;
  }
  .content._50 {
    width: 100%;
  }
  .portfolio-wrapper {
    height: 560px;
  }
  .kickstart .content {
    padding: 15px;
}
.highlight-text {
    padding: 15px;
}
.service-darkContent{
    padding-top:30px !important;
}
.section.dark.bg-image {
    padding: 30px 15px;
}
.title-content {
    line-height: 112%;
}
.kickstart .title-content{padding-top:30px;}
.podcast-listing {
    padding: 10px 15px;
}
.podcast-list {
    display: block;
    padding: 15px 0px;
}
.podcast-list .content {
    width: 100%;
    padding: 0;
}
.flex-wrap {
    flex-wrap: wrap;
}
.cust-hero-wrapper .hero-p {
    margin-bottom: 0;
    margin-top: 10px;
}
.cust-hero-wrapper .w-80 {
    width: 100% !important;
}
.cust-hero-wrapper {
    padding-bottom: 0px !important;
}


}

@media screen and (max-width: 479px) {
  .content._50.img-bgshape.padding {
    padding: 15px;
}
  .title-content {   
    margin-bottom: 0px;
  
}
  .hero-section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero-wrapper {
    padding-top: 90px;
  }
  .hero-content {
    padding: 20px;
  }
  
  .hero-p {
    font-size: 1.2em;
  }
  .btn.large {
    padding: 20px 44px;
    font-size: 14px;
  }
  .nav-wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container-nav {
    padding-right: 20px;
    padding-left: 20px;
  }
  .logo-img.top {
    width: 130px;
  }
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section.lightblue {
    padding-right: 10px;
    padding-left: 10px;
  }
  .content._50 {
    padding: 15px;
  }
  .section.dark {
    padding-top: 8px;
    
}.title-content.w.margin {
    margin-bottom: 0px;
}
.content {
    padding: 15px;
}
  .content._50.l.img-bgshape.padding45 {
    padding: 15px;
  }
  .content._50.h-a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content._25 {
    width: 100%;
  }
  .content.center {
    padding: 15px;
  }
  .p20 {
    font-size: 18px;
  }
  .p20.w {
    font-size: 18px;
  }
  .brand {
    padding-left: 0px;
  }
  .testimonial-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .img-testimonial {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .logo-trusted-by {
    width: 100px;
  }
  .logo-trusted-by.small {
    width: 45px;
  }
  .list {
    padding-left: 0px;
  }
  .wrapper-page-link {
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .portfolio-wrapper {
    height: 427px;
  }
  .img-portfolio {
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
  }
  .img-portfolio.s {
    left: 36px;
    -webkit-transform: scale(0.7) rotate(26deg);
    -ms-transform: scale(0.7) rotate(26deg);
    transform: scale(0.7) rotate(26deg);
  }
  .overlay-portf {
    opacity: 1;
  }
}


.error-page { text-align:center; background:url(https://onestopdevshop.io/wp-content/uploads/2020/06/404-bg.svg) no-repeat center center; position:relative; padding: 115px 0 40px 0px; background-size: contain;}
.error-page h1 { position: absolute; font-size: 24px; color: #2AA4DD; font-weight: 600;left: 252px; top: 23px; margin: 0;}
.error-page img { width: 55%; margin-bottom: 20px;}
.error-page h6 { background: #FDAE2B; display: inline-block; color: #FFF; text-transform: uppercase; font-size: 22px; line-height: 36px; padding: 5px 30px 5px 30px; border-radius: 30px; margin: 25px 0; font-weight:400;}
.error-page h2 { font-size: 60px; text-transform: uppercase; font-weight: 700; color: #D86161; margin-top: 0; line-height: 45px;margin-bottom:0px;}
.error-page p { color: #333; font-size: 20px; width: 55%; margin: 0 auto; margin-bottom: 30px; line-height: 30px;}
.error-list {margin:0; padding:0;}
.error-list li{ display:inline-block; margin:0 15px; }
.error-list li a{ font-size:17px; color:#2AA4DD;  }
.error-list li a:hover{ color: #222222; }
.margin-minus {  margin-top: -100px; }

@media screen and (max-width: 1199px) {
.error-page h1 { left: 116px; }
}

@media screen and (max-width: 992px) {
.error-page { background-size: contain; }
.error-page h1 { font-size: 28px; left: 7px; }
.error-page img {  width: 60%;  margin-bottom: 0;}
}


@media screen and (max-width: 767px) {
.error-page { background-size: cover; } 
.error-page h1 { position: unset; }
.error-page img { width: 90%;  margin-bottom: 0px;}
.error-page h2 {  font-size: 45px; }
.error-page h6 { font-size:16px; margin: 0px 0 20px 0;}
.error-page p { margin-bottom: 20px; font-size: 16px; width: 95%; line-height: 24px;}
.error-list li { display: inline-block;  margin: 5px 10px;}
.error-list li a {  font-size: 14px; }

}


button.accordion { border-radius: 0 !important; }
.elementor-kit-7043 a.btn.w-button { color: #FFF !important; font-size: 16px !important; font-weight: 500 !important; }

@media (max-width: 992px) { 
	
/*-----11-3-2021-----------*/
.menulinks { top: 15px !important; right: 15px !important; }

}


@media (max-width:767px) {

/*-----11-3-2021-----------*/
#transparent-header { padding: 15px; }
.elementor-kit-7043 h1 {  line-height: 33px !important; }
.elementor-kit-7043 h2 {  font-size: 19px !important; line-height: 28px !important;}
.content._50 img {   margin-bottom: 40px; }

}

@media screen and (max-width: 479px) {

/*-----11-3-2021-----------*/
.hero-wrapper {   padding-top: 60px; }

.elementor-kit-7043 a.btn.w-button {     font-size: 15px !important; }

}



.podcast-list a {
    white-space: break-spaces;
}

.thankyou-page.error-page h2{
    font-size: 45px;
    margin-right: 0;
    margin-bottom: 30px;
}

.error-page.thankyou-page { background: none; }
.error-page.thankyou-page img { width: 35%; }


@media screen and (max-width: 767px) {

.error-page h2{ font-size: 24px; margin-bottom: 15px; margin-top: 20px; line-height: 30px; }
.error-page.thankyou-page img { width: 80%; }

}










